[Desktop Entry]
Name=Svalbard
Name[az]=Svalbard
Name[ca]=Svalbard
Name[ca@valencia]=Svalbard
Name[cs]=Svalbard
Name[da]=Svalbard
Name[de]=Svalbard
Name[en_GB]=Svalbard
Name[es]=Svalbard
Name[et]=Svalbard
Name[eu]=Svalbard
Name[fi]=Svalbard
Name[fr]=Svalbard
Name[gl]=Svalbard
Name[hi]=Svalbard
Name[hu]=Svalbard
Name[ia]=Svalbard
Name[id]=Svalbard
Name[it]=Svalbard
Name[ja]=スバールバル
Name[ko]=스발바르 제도
Name[lt]=Svalbard
Name[nl]=Svalbard
Name[nn]=Svalbard
Name[pl]=Svalbard
Name[pt]=Svalbard
Name[pt_BR]=Svalbard
Name[ro]=Svalbard
Name[ru]=Шпицберген
Name[sk]=Svalbard
Name[sl]=Svalbard
Name[sv]=Svalbard
Name[tg]=Svalbard
Name[uk]=Шпіцберген
Name[x-test]=xxSvalbardxx
Name[zh_CN]=斯瓦尔巴群岛
Name[zh_TW]=斯瓦爾巴

X-KDE-PluginInfo-Name=svalbard
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
