[Desktop Entry]
Comment=KDE with Arch Linux
Name=Arch Linux Light
Name[az]=Arch Linux - İşıqlı
Name[ca]=Arch Linux clara
Name[ca@valencia]=Arch Linux clara
Name[cs]=Arch Linux Světlé
Name[da]=Arch Linux Light
Name[de]=Arch Linux Hell
Name[el]=Arch Linux φωτεινό
Name[en_GB]=Arch Linux Light
Name[es]=Arch Linux claro
Name[et]=Arch Linux hele
Name[eu]=Arch Linux argia
Name[fi]=Vaalea Arch Linux
Name[fr]=Arch Linux clair
Name[gl]=Arch Linux claro
Name[hu]=Arch Linux Light
Name[ia]=Arch Linux Ligier
Name[id]=Arch Linux Terang
Name[it]=Arch Linux chiaro
Name[ja]=Arch Linux ライト
Name[ko]=Arch Linux (밝은 테마)
Name[lt]=Arch Linux šviesus
Name[nl]=Arch Linux Light
Name[nn]=Arch Linux lys
Name[pl]=Jasna Arch Linux
Name[pt]=Arch Linux Clara
Name[pt_BR]=Arch Linux Light
Name[ro]=Arch Linux, luminos
Name[ru]=Arch Linux, светлый вариант
Name[sv]=Arch Linux Light
Name[uk]=Світла Arch Linux
Name[x-test]=xxArch Linux Lightxx
Name[zh_CN]=Arch Linux 亮色
Name[zh_TW]=Arch Linux Light
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.archlinux.plasmalight.desktop
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2+
