[Desktop Entry]
Name=Mountain
Name[az]=Mountain
Name[ca]=Mountain
Name[ca@valencia]=Mountain
Name[cs]=Mountain
Name[da]=Mountain
Name[de]=Mountain
Name[en_GB]=Mountain
Name[es]=Montaña
Name[et]=Mountain
Name[eu]=Mountain
Name[fi]=Mountain
Name[fr]=Montagne
Name[gl]=Mountain
Name[hi]=पहाड़
Name[hu]=Mountain
Name[ia]=Mountain
Name[id]=Mountain
Name[it]=Montagna
Name[ja]=山
Name[ko]=산
Name[lt]=Mountain
Name[nl]=Mountain
Name[nn]=Mountain
Name[pl]=Mountain
Name[pt]=Montanha
Name[pt_BR]=Montanha
Name[ro]=Mountain
Name[ru]=гора
Name[sk]=Mountain
Name[sl]=Mountain
Name[sv]=Mountain
Name[tg]=Mountain
Name[uk]=Гора
Name[x-test]=xxMountainxx
Name[zh_CN]=山
Name[zh_TW]=Mountain(山)

X-KDE-PluginInfo-Name=mountain
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
