[Desktop Entry]
Name=Arch Wave (Inverted)
Name[az]=Arch Wave (Inverted)
Name[ca]=Arch Wave (Inverted)
Name[ca@valencia]=Arch Wave (Inverted)
Name[cs]=Arch Wave (Inverted)
Name[da]=Arch Wave (Inverted)
Name[de]=Arch Wave (Inverted)
Name[en_GB]=Arch Wave (Inverted)
Name[es]=Arch Wave (Inverted)
Name[et]=Arch Wave (Inverted)
Name[eu]=Arch Wave (Inverted)
Name[fi]=Arch Wave (Inverted)
Name[fr]=Arch Wave (Inverted)
Name[gl]=Arch Wave (Inverted)
Name[hi]=Arch Wave (Inverted)
Name[hu]=Arch Wave (Inverted)
Name[ia]=Arch Wave (Inverted)
Name[id]=Arch Wave (Inverted)
Name[it]=Arch Wave (Inverted)
Name[ja]=Arch Wave (Inverted)
Name[ko]=Arch Wave (반전된)
Name[lt]=Arch Wave (Inverted)
Name[nl]=Arch Wave (Inverted)
Name[nn]=Arch Wave (Inverted)
Name[pl]=Arch Wave (Inverted)
Name[pt]=Arch Wave (Inverted)
Name[pt_BR]=Arch Wave (Inverted)
Name[ro]=Arch Wave (Inverted)
Name[ru]=Arch Wave (Inverted)
Name[sk]=Arch Wave (Inverted)
Name[sl]=Arch Wave (Inverted)
Name[sv]=Arch Wave (Inverted)
Name[tg]=Arch Wave (Inverted)
Name[uk]=Arch Wave (Inverted)
Name[x-test]=xxArch Wave (Inverted)xx
Name[zh_CN]=Arch Wave (倒)
Name[zh_TW]=Arch Wave (倒)

X-KDE-PluginInfo-Name=archwaveinv
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
