[Desktop Entry]
Name=Reflected
Name[az]=Reflected
Name[ca]=Reflected
Name[ca@valencia]=Reflected
Name[cs]=Reflected
Name[da]=Reflected
Name[de]=Reflektiert
Name[en_GB]=Reflected
Name[es]=Reflejado
Name[et]=Reflected
Name[eu]=Reflected
Name[fi]=Reflected
Name[fr]=Réfléchi
Name[gl]=Reflected
Name[hi]=प्रतिबिंबित
Name[hu]=Tükröződik
Name[ia]=Reflected
Name[id]=Reflected
Name[it]=Riflesso
Name[ja]=リフレクター
Name[ko]=굴절
Name[lt]=Reflected
Name[nl]=Reflected
Name[nn]=Reflected
Name[pl]=Reflected
Name[pt]=Refletido
Name[pt_BR]=Refletido
Name[ro]=Reflected
Name[ru]=Отраженный
Name[sk]=Reflected
Name[sl]=Reflected
Name[sv]=Reflected
Name[tg]=Reflected
Name[uk]=Відображено
Name[x-test]=xxReflectedxx
Name[zh_CN]=反映
Name[zh_TW]=Reflected (反映)

X-KDE-PluginInfo-Name=reflected
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
