[Desktop Entry]
Name=Arch BTW
Name[az]=Arch BTW
Name[ca]=Arch BTW
Name[ca@valencia]=Arch BTW
Name[cs]=Arch BTW
Name[da]=Arch BTW
Name[de]=Arch BTW
Name[en_GB]=Arch BTW
Name[es]=Arch BTW
Name[et]=Arch BTW
Name[eu]=Arch BTW
Name[fi]=Arch BTW
Name[fr]=Arch BTW
Name[gl]=Arch BTW
Name[hi]=Arch BTW
Name[hu]=Arch BTW
Name[ia]=Arch BTW
Name[id]=Arch BTW
Name[it]=Arch BTW
Name[ko]=Arch BTW
Name[lt]=Arch BTW
Name[nl]=Arch BTW
Name[nn]=Arch BTW
Name[pl]=Arch BTW
Name[pt]=Arch BTW
Name[pt_BR]=Arch BTW
Name[ro]=Arch BTW
Name[ru]=Arch BTW
Name[sk]=Arch BTW
Name[sl]=Arch BTW
Name[sv]=Arch BTW
Name[tg]=Arch BTW
Name[uk]=Arch BTW
Name[x-test]=xxArch BTWxx
Name[zh_CN]=Arch BTW
Name[zh_TW]=Arch BTW

X-KDE-PluginInfo-Name=archbtw
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
