[Desktop Entry]
Name=Conference
Name[az]=Conference
Name[ca]=Conference
Name[ca@valencia]=Conference
Name[cs]=Conference
Name[da]=Conference
Name[de]=Conference
Name[en_GB]=Conference
Name[es]=Conference
Name[et]=Conference
Name[eu]=Conference
Name[fi]=Conference
Name[fr]=Conference
Name[gl]=Conference
Name[hi]=Conference
Name[hu]=Conference
Name[ia]=Conference
Name[id]=Conference
Name[it]=Conference
Name[ja]=Conference
Name[ko]=Conference
Name[lt]=Conference
Name[nl]=Conference
Name[nn]=Conference
Name[pl]=Conference
Name[pt]=Conference
Name[pt_BR]=Conference
Name[ro]=Conference
Name[ru]=Conference
Name[sk]=Conference
Name[sl]=Conference
Name[sv]=Conference
Name[tg]=Conference
Name[uk]=Conference
Name[x-test]=xxConferencexx
Name[zh_CN]=Conference
Name[zh_TW]=Conference

X-KDE-PluginInfo-Name=conference
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
