[Desktop Entry]
Name=Wire Feather
Name[az]=Wire Feather
Name[ca]=Wire Feather
Name[ca@valencia]=Wire Feather
Name[cs]=Wire Feather
Name[da]=Wire Feather
Name[de]=Wire Feather
Name[en_GB]=Wire Feather
Name[es]=Wire Feather
Name[et]=Wire Feather
Name[eu]=Wire Feather
Name[fi]=Wire Feather
Name[fr]=Wire Feather
Name[gl]=Wire Feather
Name[hi]=Wire Feather
Name[hu]=Wire Feather
Name[ia]=Wire Feather
Name[id]=Wire Feather
Name[it]=Wire Feather
Name[ja]=Wire Feather
Name[ko]=Wire Feather
Name[lt]=Wire Feather
Name[nl]=Wire Feather
Name[nn]=Wire Feather
Name[pl]=Wire Feather
Name[pt]=Wire Feather
Name[pt_BR]=Wire Feather
Name[ro]=Wire Feather
Name[ru]=Wire Feather
Name[sk]=Wire Feather
Name[sl]=Wire Feather
Name[sv]=Wire Feather
Name[tg]=Wire Feather
Name[uk]=Wire Feather
Name[x-test]=xxWire Featherxx
Name[zh_CN]=Wire Feather
Name[zh_TW]=Wire Feather

X-KDE-PluginInfo-Name=wirefeather
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
