[Desktop Entry]
Name=Arch Wave
Name[az]=Arch Wave
Name[ca]=Arch Wave
Name[ca@valencia]=Arch Wave
Name[cs]=Arch Wave
Name[da]=Arch Wave
Name[de]=Arch Wave
Name[en_GB]=Arch Wave
Name[es]=Arch Wave
Name[et]=Arch Wave
Name[eu]=Arch Wave
Name[fi]=Arch Wave
Name[fr]=Arch Wave
Name[gl]=Arch Wave
Name[hi]=Arch Wave
Name[hu]=Arch Wave
Name[ia]=Arch Wave
Name[id]=Arch Wave
Name[it]=Arch Wave
Name[ja]=Arch Wave
Name[ko]=Arch Wave
Name[lt]=Arch Wave
Name[nl]=Arch Wave
Name[nn]=Arch Wave
Name[pl]=Arch Wave
Name[pt]=Arch Wave
Name[pt_BR]=Arch Wave
Name[ro]=Arch Wave
Name[ru]=Arch Wave
Name[sk]=Arch Wave
Name[sl]=Arch Wave
Name[sv]=Arch Wave
Name[tg]=Arch Wave
Name[uk]=Arch Wave
Name[x-test]=xxArch Wavexx
Name[zh_CN]=Arch Wave
Name[zh_TW]=Arch Wave

X-KDE-PluginInfo-Name=archwave
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
