[Desktop Entry]
Name=Landscape
Name[az]=Landscape
Name[ca]=Landscape
Name[ca@valencia]=Landscape
Name[cs]=Landscape
Name[da]=Landscape
Name[de]=Landschaft
Name[en_GB]=Landscape
Name[es]=Paisaje
Name[et]=Landscape
Name[eu]=Landscape
Name[fi]=Landscape
Name[fr]=Le paysage
Name[gl]=Landscape
Name[hi]=Landscape
Name[hu]=Landscape
Name[ia]=Landscape
Name[id]=Landscape
Name[it]=Paesaggio
Name[ja]=ランドスケープ
Name[ko]=풍경
Name[lt]=Landscape
Name[nl]=Landscape
Name[nn]=Landscape
Name[pl]=Landscape
Name[pt]=Panorama
Name[pt_BR]=Panorama
Name[ro]=Landscape
Name[ru]=Пейзаж
Name[sk]=Landscape
Name[sl]=Landscape
Name[sv]=Landscape
Name[tg]=Landscape
Name[uk]=Пейзаж
Name[x-test]=xxLandscapexx
Name[zh_CN]=风景
Name[zh_TW]=風景

X-KDE-PluginInfo-Name=landscape
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
