[Desktop Entry]
Name=Wild
Name[az]=Wild
Name[ca]=Wild
Name[ca@valencia]=Wild
Name[cs]=Wild
Name[da]=Wild
Name[de]=Wild
Name[en_GB]=Wild
Name[es]=Wild
Name[et]=Wild
Name[eu]=Wild
Name[fi]=Wild
Name[fr]=Wild
Name[gl]=Wild
Name[hi]=Wild
Name[hu]=Wild
Name[ia]=Wild
Name[id]=Wild
Name[it]=Wild
Name[ja]=Wild
Name[ko]=Wild
Name[lt]=Wild
Name[nl]=Wild
Name[nn]=Wild
Name[pl]=Wild
Name[pt]=Wild
Name[pt_BR]=Wild
Name[ro]=Wild
Name[ru]=Wild
Name[sk]=Wild
Name[sl]=Wild
Name[sv]=Wild
Name[tg]=Wild
Name[uk]=Wild
Name[x-test]=xxWildxx
Name[zh_CN]=Wild
Name[zh_TW]=Wild

X-KDE-PluginInfo-Name=wild
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
