[Desktop Entry]
Name=Geo Waves
Name[az]=Geo Waves
Name[ca]=Geo Waves
Name[ca@valencia]=Geo Waves
Name[cs]=Geo Waves
Name[da]=Geo Waves
Name[de]=Geo Waves
Name[en_GB]=Geo Waves
Name[es]=Geo Waves
Name[et]=Geo Waves
Name[eu]=Geo Waves
Name[fi]=Geo Waves
Name[fr]=Geo Waves
Name[gl]=Geo Waves
Name[hi]=Geo Waves
Name[hu]=Geo Waves
Name[ia]=Geo Waves
Name[id]=Geo Waves
Name[it]=Corsie geografiche
Name[ja]=ジオレーン
Name[ko]=기하학적 선분
Name[lt]=Geo Waves
Name[nl]=Geo Waves
Name[nn]=Geo Waves
Name[pl]=Geo Waves
Name[pt]=Geo Waves
Name[pt_BR]=Geo Waves
Name[ro]=Geo Waves
Name[ru]=Гео дорожки
Name[sk]=Geo Waves
Name[sl]=Geo Waves
Name[sv]=Geo Waves
Name[tg]=Geo Waves
Name[uk]=Geo Waves
Name[x-test]=xxGeo Wavesxx
Name[zh_CN]=地理车道
Name[zh_TW]=地理車道

X-KDE-PluginInfo-Name=geolanes
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
