[Desktop Entry]
Name=Arch (Small)
Name[az]=Arch (Small)
Name[ca]=Arch (Small)
Name[ca@valencia]=Arch (Small)
Name[cs]=Arch (Small)
Name[da]=Arch (Small)
Name[de]=Arch (Small)
Name[en_GB]=Arch (Small)
Name[es]=Arch (Small)
Name[et]=Arch (Small)
Name[eu]=Arch (Small)
Name[fi]=Arch (Small)
Name[fr]=Arch (Small)
Name[gl]=Arch (Small)
Name[hi]=Arch (Small)
Name[hu]=Arch (Small)
Name[ia]=Arch (Small)
Name[id]=Arch (Small)
Name[it]=Arch (Small)
Name[ja]=Arch (Small)
Name[ko]=Arch (Small)
Name[lt]=Arch (Small)
Name[nl]=Arch (Small)
Name[nn]=Arch (Small)
Name[pl]=Arch (Small)
Name[pt]=Arch (Small)
Name[pt_BR]=Arch (Small)
Name[ro]=Arch (Small)
Name[ru]=Arch (Small)
Name[sk]=Arch (Small)
Name[sl]=Arch (Small)
Name[sv]=Arch (Small)
Name[tg]=Arch (Small)
Name[uk]=Arch (Small)
Name[x-test]=xxArch (Small)xx
Name[zh_CN]=Arch (Small)
Name[zh_TW]=Arch (Small)

X-KDE-PluginInfo-Name=small
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
