[Desktop Entry]
Name=Sunset
Name[az]=Sunset
Name[ca]=Sunset
Name[ca@valencia]=Sunset
Name[cs]=Sunset
Name[da]=Sunset
Name[de]=Sunset
Name[en_GB]=Sunset
Name[es]=Sunset
Name[et]=Sunset
Name[eu]=Sunset
Name[fi]=Sunset
Name[fr]=Sunset
Name[gl]=Sunset
Name[hi]=Sunset
Name[hu]=Sunset
Name[ia]=Sunset
Name[id]=Sunset
Name[it]=Sunset
Name[ja]=Sunset
Name[ko]=Sunset
Name[lt]=Sunset
Name[nl]=Sunset
Name[nn]=Sunset
Name[pl]=Sunset
Name[pt]=Sunset
Name[pt_BR]=Sunset
Name[ro]=Sunset
Name[ru]=Sunset
Name[sk]=Sunset
Name[sl]=Sunset
Name[sv]=Sunset
Name[tg]=Sunset
Name[uk]=Sunset
Name[x-test]=xxSunsetxx
Name[zh_CN]=Sunset
Name[zh_TW]=Sunset

X-KDE-PluginInfo-Name=sunset
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
