[Desktop Entry]
Name=Arch (Simple)
Name[az]=Arch (Simple)
Name[ca]=Arch (Simple)
Name[ca@valencia]=Arch (Simple)
Name[cs]=Arch (Simple)
Name[da]=Arch (Simple)
Name[de]=Arch (Einfach)
Name[en_GB]=Arch (Simple)
Name[es]=Arch (Sencillo)
Name[et]=Arch (Simple)
Name[eu]=Arch (Simple)
Name[fi]=Arch (Simple)
Name[fr]=Arch (Simple)
Name[gl]=Arch (Simple)
Name[hi]=Arch (Simple)
Name[hu]=Arch (Egyszerű)
Name[ia]=Arch (Simple)
Name[id]=Arch (Simple)
Name[it]=Arch (Semplice)
Name[ja]=Arch (カンダン)
Name[ko]=Arch (단순한)
Name[lt]=Arch (Simple)
Name[nl]=Arch (Simple)
Name[nn]=Arch (Simple)
Name[pl]=Arch (Simple)
Name[pt]=Arch (Simples)
Name[pt_BR]=Arch (Simples)
Name[ro]=Arch (Simple)
Name[ru]=Arch (Simple)
Name[sk]=Arch (Simple)
Name[sl]=Arch (Simple)
Name[sv]=Arch (Simple)
Name[tg]=Arch (Simple)
Name[uk]=Arch (Простий)
Name[x-test]=xxArch (Simple)xx
Name[zh_CN]=Arch (简单的)
Name[zh_TW]=Arch (簡單的)

X-KDE-PluginInfo-Name=simple
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
