[Desktop Entry]
Name=Arch (Awesome)
Name[az]=Arch (Awesome)
Name[ca]=Arch (Awesome)
Name[ca@valencia]=Arch (Awesome)
Name[cs]=Arch (Awesome)
Name[da]=Arch (Awesome)
Name[de]=Arch (Fantastisch)
Name[en_GB]=Arch (Awesome)
Name[es]=Arch (Impresionante)
Name[et]=Arch (Awesome)
Name[eu]=Arch (Awesome)
Name[fi]=Arch (Awesome)
Name[fr]=Arch (Impressionnant)
Name[gl]=Arch (Awesome)
Name[hi]=Arch (Awesome)
Name[hu]=Arch (Fantasztikus)
Name[ia]=Arch (Awesome)
Name[id]=Arch (बहुत बढ़िया)
Name[it]=Arch (Stupendo)
Name[ja]=Arch (スバラシイ)
Name[ko]=Arch (멋진)
Name[lt]=Arch (Awesome)
Name[nl]=Arch (Awesome)
Name[nn]=Arch (Awesome)
Name[pl]=Arch (Awesome)
Name[pt]=Arch (Incrível)
Name[pt_BR]=Arch (Incrível)
Name[ro]=Arch (Awesome)
Name[ru]=Arch (Awesome)
Name[sk]=Arch (Awesome)
Name[sl]=Arch (Awesome)
Name[sv]=Arch (Awesome)
Name[tg]=Arch (Awesome)
Name[uk]=Arch (Чудово)
Name[x-test]=xxArch (Awesome)xx
Name[zh_CN]=Arch (惊人的)
Name[zh_TW]=Arch (驚人的)

X-KDE-PluginInfo-Name=awesome
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
