[Desktop Entry]
Name=Snow
Name[az]=Snow
Name[ca]=Snow
Name[ca@valencia]=Snow
Name[cs]=Snow
Name[da]=Snow
Name[de]=Snow
Name[en_GB]=Snow
Name[es]=Snow
Name[et]=Snow
Name[eu]=Snow
Name[fi]=Snow
Name[fr]=Snow
Name[gl]=Snow
Name[hi]=Snow
Name[hu]=Snow
Name[ia]=Snow
Name[id]=Snow
Name[it]=Snow
Name[ja]=Snow
Name[ko]=Snow
Name[lt]=Snow
Name[nl]=Snow
Name[nn]=Snow
Name[pl]=Snow
Name[pt]=Snow
Name[pt_BR]=Snow
Name[ro]=Snow
Name[ru]=Snow
Name[sk]=Snow
Name[sl]=Snow
Name[sv]=Snow
Name[tg]=Snow
Name[uk]=Snow
Name[x-test]=xxSnowxx
Name[zh_CN]=Snow
Name[zh_TW]=Snow

X-KDE-PluginInfo-Name=snow
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
