[Desktop Entry]
Name=Wire Parts
Name[az]=Wire Parts
Name[ca]=Wire Parts
Name[ca@valencia]=Wire Parts
Name[cs]=Wire Parts
Name[da]=Wire Parts
Name[de]=Wire Parts
Name[en_GB]=Wire Parts
Name[es]=Wire Parts
Name[et]=Wire Parts
Name[eu]=Wire Parts
Name[fi]=Wire Parts
Name[fr]=Wire Parts
Name[gl]=Wire Parts
Name[hi]=Wire Parts
Name[hu]=Wire Parts
Name[ia]=Wire Parts
Name[id]=Wire Parts
Name[it]=Wire Parts
Name[ja]=Wire Parts
Name[ko]=Wire Parts
Name[lt]=Wire Parts
Name[nl]=Wire Parts
Name[nn]=Wire Parts
Name[pl]=Wire Parts
Name[pt]=Wire Parts
Name[pt_BR]=Wire Parts
Name[ro]=Wire Parts
Name[ru]=Wire Parts
Name[sk]=Wire Parts
Name[sl]=Wire Parts
Name[sv]=Wire Parts
Name[tg]=Wire Parts
Name[uk]=Wire Parts
Name[x-test]=xxWire Partsxx
Name[zh_CN]=Wire Parts
Name[zh_TW]=Wire Parts

X-KDE-PluginInfo-Name=wireparts
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
