[Desktop Entry]
Comment=KDE with Arch Linux
Name=Arch Linux
Name[az]=Arch Linux
Name[ca]=Arch Linux
Name[cs]=Arch Linux
Name[da]=Arch Linux
Name[de]=Arch Linux
Name[el]=Arch Linux
Name[en_GB]=Arch Linux
Name[es]=Arch Linux
Name[et]=Arch Linux
Name[eu]=Arch Linux
Name[fi]=Arch Linux
Name[fr]=Arch Linux
Name[hu]=Arch Linux
Name[ia]=Arch Linux
Name[it]=Arch Linux
Name[ja]=Arch Linux
Name[ko]=Arch Linux
Name[lt]=Arch Linux
Name[nl]=Arch Linux
Name[nn]=Arch Linux
Name[pl]=Arch Linux
Name[pt]=Arch Linux
Name[pt_BR]=Arch Linux
Name[ro]=Arch Linux
Name[ru]=Arch Linux
Name[sv]=Arch Linux
Name[uk]=Arch Linux
Name[x-test]=xxArch Linuxxx
Name[zh_CN]=Arch Linux
Name[zh_TW]=Arch Linux
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.archlinux.kdedefault.desktop
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://www.kde.org
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2+
