[Desktop Entry]
Name=Arch (Split)
Name[az]=Arch (Split)
Name[ca]=Arch (Split)
Name[ca@valencia]=Arch (Split)
Name[cs]=Arch (Split)
Name[da]=Arch (Split)
Name[de]=Arch (Split)
Name[en_GB]=Arch (Split)
Name[es]=Arch (Split)
Name[et]=Arch (Split)
Name[eu]=Arch (Split)
Name[fi]=Arch (Split)
Name[fr]=Arch (Split)
Name[gl]=Arch (Split)
Name[hi]=Arch (Split)
Name[hu]=Arch (Split)
Name[ia]=Arch (Split)
Name[id]=Arch (Split)
Name[it]=Arch (Split)
Name[ja]=Arch (Split)
Name[ko]=Arch (Split)
Name[lt]=Arch (Split)
Name[nl]=Arch (Split)
Name[nn]=Arch (Split)
Name[pl]=Arch (Split)
Name[pt]=Arch (Split)
Name[pt_BR]=Arch (Split)
Name[ro]=Arch (Split)
Name[ru]=Arch (Split)
Name[sk]=Arch (Split)
Name[sl]=Arch (Split)
Name[sv]=Arch (Split)
Name[tg]=Arch (Split)
Name[uk]=Arch (Split)
Name[x-test]=xxArch (Split)xx
Name[zh_CN]=Arch (Split)
Name[zh_TW]=Arch (Split)

X-KDE-PluginInfo-Name=split
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
