[Desktop Entry]
Name=Gritty
Name[az]=Gritty
Name[ca]=Gritty
Name[ca@valencia]=Gritty
Name[cs]=Gritty
Name[da]=Gritty
Name[de]=Kiesig
Name[en_GB]=Gritty
Name[es]=Arenoso
Name[et]=Gritty
Name[eu]=Gritty
Name[fi]=Gritty
Name[fr]=Graveleux
Name[gl]=Gritty
Name[hi]=Gritty
Name[hu]=Kavicsos
Name[ia]=Gritty
Name[id]=Gritty
Name[it]=Grintoso
Name[ja]=ざらざらした
Name[ko]=구석진 곳
Name[lt]=Gritty
Name[nl]=Gritty
Name[nn]=Gritty
Name[pl]=Gritty
Name[pt]=Corajoso
Name[pt_BR]=Corajoso
Name[ro]=Gritty
Name[ru]=Песчаный
Name[sk]=Gritty
Name[sl]=Gritty
Name[sv]=Gritty
Name[tg]=Gritty
Name[uk]=Піщаний
Name[x-test]=xxGrittyxx
Name[zh_CN]=坚韧不拔
Name[zh_TW]=堅韌不拔

X-KDE-PluginInfo-Name=gritty
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
