[Desktop Entry]
Name=Lone
Name[az]=Lone
Name[ca]=Lone
Name[ca@valencia]=Lone
Name[cs]=Lone
Name[da]=Lone
Name[de]=Lone
Name[en_GB]=Lone
Name[es]=Lone
Name[et]=Lone
Name[eu]=Lone
Name[fi]=Lone
Name[fr]=Lone
Name[gl]=Lone
Name[hi]=Lone
Name[hu]=Lone
Name[ia]=Lone
Name[id]=Lone
Name[it]=Lone
Name[ja]=Lone
Name[ko]=Lone
Name[lt]=Lone
Name[nl]=Lone
Name[nn]=Lone
Name[pl]=Lone
Name[pt]=Lone
Name[pt_BR]=Lone
Name[ro]=Lone
Name[ru]=Lone
Name[sk]=Lone
Name[sl]=Lone
Name[sv]=Lone
Name[tg]=Lone
Name[uk]=Lone
Name[x-test]=xxLonexx
Name[zh_CN]=Lone
Name[zh_TW]=Lone

X-KDE-PluginInfo-Name=lone
X-KDE-PluginInfo-Author=Arch Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
